.input-main{
    margin-top: 10%;
    margin-bottom: 20px;
    padding: 0 70px;
    float: left;
}

.input-label{
    padding: 0 3px;
    float: left;
}

.input-field{
    line-height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 8px;
    color: #666;
    width: 400px;
    margin-bottom: 30px;
    margin-top: 3px;
}

.not-valid{
    border: 1px solid red;
}