
.gradient-success{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.report-form-main{
    border-radius: 7px;
    z-index: 1;
    background: whitesmoke;
    text-align: center;
    margin-top: 5%;
    height: 100%;
    width: 70%;
}

.calender-main{
    text-align: center;
    height: 20%;
    width: 20%;
    border-radius: 7px;
    margin-left: 30%;
}

.success{
    border-radius: 7px;
    width: 20%;
    text-align: center;
    color: green;
    margin-left: 40%;
    margin-top: 12%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow:         3px 3px 5px 6px #ccc;
}

.input{
    width: 50%;
    margin-left: 25%;
    text-align: center;
    border-radius: 7px;
}

.height{
    margin: 0;
    padding:0;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .calender-main{
        margin-right: 10px;
        margin-left: 2px;
        width: 100%;
        height: 10%;
        display: block;
    }

    .success{
        float: left;
        width: 70%;
        display: block;
        margin-right: 10px;
        margin-left: 35px;
    }
  }
  