
.report-form-main{
    text-align: center;
    margin-top: 10%;
}

.calender-main{
    text-align: center;
    height: 20%;
    width: 20%;
    border-radius: 7px;
    margin-left: 30%;
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .calender-main{
        margin-right: 10px;
        margin-left: 2px;
        width: 100%;
        height: 10%;
        display: block;
        
    }
  }
  